<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <style>
        .toast-container {
            position: fixed;
            top: 100px;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
        }
    </style>
</head>
<body style="background-image: url('https://coolwallpapers.me/picsup/5830458-uefa-champions-league-wallpapers.jpg');  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
<div th:replace="landing_page::header">
</div>
<div>
    <form th:action="@{/player/create}" th:method="get">
        <button title="Thêm mới"
                class="btn btn-primary">
            <i class="fa-solid fa-plus"></i></button>
    </form>
</div>
<div class="container" align="center">
    <h2 style="color: royalblue">PLAYER LIST</h2>
</div>
<div style="padding-left: 60%">
    <form th:action="@{/player}" method="get" th:object="${player}" style="width: 50%">
        <div>
            <div>
                <p>Từ</p>
                <input type="date" class="form-control" th:value="${dayStart}" name="dayStart">
            </div>
            <div>
                <p>Đến</p>
                <input type="date" class="form-control" th:value="${dayEnd}" name="dayEnd">
            </div>
            <div>
                <select class="custom-select border-0 px-2" name="teamSearch" th:value="${teamSearch}">
                    <option value="">Select Team</option>
                    <option th:each="t:${teamList}"
                            th:selected="${t.name}==${teamSearch}"
                            th:value="${t.name}" th:text="${t.name}"></option>
                </select>
            </div>
            <div class="input-group mb-3">
                <input id="search-input" type="search" class="form-control" th:value="${nameSearch}"
                       name="nameSearch" placeholder="search"/>
            </div>
            <button id="search-button" type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>STT</th>
            <th>CODE PLAYER</th>
            <th>NAME PLAYER</th>
            <th>BIRTH DAY</th>
            <th>EXPERIENCE</th>
            <th>POSITION</th>
            <th>TEAM</th>
            <th>STATUS</th>
            <th>CHECK</th>
            <th>AVATAR</th>
            <th>ACTION</th>
        </tr>
        <tr th:each="player,status:${playerPage}">
            <td style="width: 10%" th:text="${status.count}"></td>
            <td style="width: 10%" th:text="${player.getCodePlayer()}"></td>
            <td style="width: 10%" th:text="${player.getName()}"></td>
            <td style="width: 10%" th:text="${player.getBirthDay()}"></td>
            <td style="width: 10%" th:text="${player.getExp()}"></td>
            <td style="width: 10%" th:text="${player.getPosition()}"></td>
            <td style="width: 10%" th:text="${player.getTeam()}"></td>
            <td style="width: 10%" th:switch="${player.isAction()}">
                <span th:case="false">Active</span>
                <span th:case="true">Reserve</span>
            </td>
            <td style="width: 10%">
                <a th:href="@{player/active(id=${player.getId()})}">
                    <button class="btn btn-primary">
                        <i class="fas fa-user-check"></i>
                    </button>
                </a>
                <a th:href="@{player/reserve(id=${player.getId()})}">
                    <button class="btn btn-primary">
                        <i class="fas fa-user-alt-slash"></i>
                    </button>
                </a>

            </td>
            <td style="width: 12%">
                <div class="container">
                    <img th:src="${player.getPicture()}" style="width: 100%;height: 70px">
                </div>
            </td>
            <td style="width: 12%">
                <a th:href="@{player/update/{id}(id=${player.getId()})}">
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </a>
                <a th:href="@{/player/detail/{id}(id=${player.getId()})}">
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-circle-info"></i>
                    </button>
                </a>
                <button type="button" class="btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        th:attr="onclick= |confirmDelete('${player.name}','${player.id}')|">
                    <i class="fa-regular fa-trash-can"></i>
                </button>

            </td>
        </tr>
    </table>
    <a th:if="${playerPage.hasPrevious()}"
       th:href="@{/player(page=${playerPage.number - 1},searchName=${nameSearch},size=${size},dayStart=${dayStart},dayEnd=${dayEnd})}">Trước</a>
    <span th:text="${playerPage.number +1}"></span>/<span th:text="${playerPage.totalPages}"></span>
    <a th:if="${playerPage.hasNext()}"
       th:href="@{/player(page=${playerPage.number + 1},searchName=${nameSearch},size=${size},dayStart=${dayStart},dayEnd=${dayEnd})}">Sau</a>
</div>
<div class="container" style="padding-left: 28px">
    <form th:action="@{/player}" method="get">
        <input type="text" class="form-input" th:value="${size}" name="size">
        <button type="submit" class="btn btn-primary">size</button>
    </form>
</div>
<!-------------------------Toast-------------------------------------------------------------->
<div class="toast-container">
    <div style="border-radius: 20%;border:2px solid #17a2b8;" id="liveToast" class="toast" role="alert"
         aria-live="assertive" aria-atomic="true">
        <div style="background-color: #00394f;border-radius: 22%;border-top-color:#17a2b8;border: 2px "
             class="toast-header justify-content-center">
            <h4 style="color: white;text-align: center">
                Thông báo
            </h4>
        </div>
        <div class="toast-body text-info justify-content-center" style="align-content: center">
            <p style="text-align: center" th:text="${msg}">
            </p>
        </div>
    </div>
</div>
<!-------------------------End Toast-------------------------------------------------------------->

<!-- Modal xóa-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="player/delete" method="get">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Delete</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Do you want delete Player:
                        <span id="name"></span></p>
                    <input type="text" hidden="hidden" name="id" id="id">
                    <p style="color: red"><b>Warning</b> Action cannot return ? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="landing_page::footer">
</div>
</body>
<script th:if="${msg!=null}">
    // toast
    window.onload = function () {
        let myAlert = document.getElementById('liveToast');//select id of toast
        let bsAlert = new bootstrap.Toast(myAlert);//inizialize it
        bsAlert.show();//show it
    }
</script>
<script>
    //delete modal
    function confirmDelete(name, id) {
        document.getElementById("name").innerHTML = name;
        document.getElementById("id").value = id;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</html>